.hader
{
	margin: 0px;

}
.m-logo
{
	float: left;
	width: 165px;
	 text-indent: -9999px;
	display: block;
	font-size: 22px;
	line-height: 40px;
	color: #fff;
	background: url(../img/logo.png) no-repeat left center; 
	-webkit-background-size: 125px 40px;
	background-size: 125px 40px;
	margin-right: 20px;
}
.body
{
	margin: 0px;
	padding: 0px;
}
.navbar-toggle
{
	back 
}
.navbar-brand 
{
	color: #28A4C9;
	font-family: "微软雅黑";
	font-size: 18px;
	text-align: center;
	overflow: hidden;
	padding-bottom: 5px;
}
.jumbotron
{
	padding: 340px;
	margin: -15px;
	height: 680px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 260px;
  color: #fff;
}
.jumbotron .jumbotron-content h2
{
	color: white;
	font-family:"微软雅黑";
	padding-top: 15px;
	padding-bottom: 15px;
	font-weight: 100;
	margin: 0;
	display: block;
	word-wrap: normal;
	text-overflow: ellipsis;
	overflow: hidden;
}
.jumbotron.jumbotron-content p
{
		display: block;
		word-wrap: normal;
		text-overflow: ellipsis;
		overflow: hidden;
}

@media  screen and (min-width: 1440px) and (max-width: 1920px) {
	.jumbotron {
    height: 600px;
    padding-top: 240px;
	}
	.jumbotron .jumbotron-content h2{
		font-family: "微软雅黑";
		font-size: 46px;
		margin: 0px;
		font-weight: 600px;
	}
	.jumbotron .jumbotron-content p{
		font-family: "微软雅黑";
		font-size: 36px;
		padding: 0px;
		width: 100%;
	}
}

@media 	screen and (min-width: 960px) and (max-width: 1439px) {
	.jumbotron {
		height: 480px;
		padding-top: 220px;
		
	}
	.jumbotron .jumbotron-content h2{
		font-size: 36px;
		margin: 0px;
		font-family: "微软雅黑";
		font-weight: 200;

	}
	.jumbotron .jumbotron-content p{
		font-size: 26px;
		padding: 0px;
		margin: 30px 0 15px 0;
		font-family: "微软雅黑";
	}
}

@media  only screen and (min-width: 480px) and (max-width: 959px) {
	.jumbotron {
		height: 380px;
		padding-top: 120px;
		text-align: center;
	}
	.jumbotron .jumbotron-content h2{
		font-size: 26px;
		margin: 0px;
		font-family: "微软雅黑";
		font-weight: 200;
		
	}
	.jumbotron .jumbotron-content p{
		font-size: 16px;
		padding: 0px;
		margin: 25px 0 15px 0;
		font-family: "微软雅黑";	
	}
}

@media  screen and (max-width:479px ) {
	.jumbotron {
		height: 380px;
		padding-top: 120px;
		text-align: center;
	}
	.jumbotron .jumbotron-content h2{
		font-size: 20px;
		margin: 0;
		font-family: "微软雅黑";
	}
	.jumbotron .jumbotron-content p{
		font-size: 15px;
		padding: 0;
		margin: 0;
		font-family: "微软雅黑";
	}
}

.container-fluid .jumbotron
{
	border-radius: 0px;
}

.home-box
{
	background: #1a1f2a;
	padding-bottom: 20px;
}
.home-box-hgroup h2 
{
	padding-top: 60px;
	padding-bottom:10px ;
	font-family: "微软雅黑";
	color: white;
	font-size: 25px;
}
.home-box-hgroup p
{
	font-family: "微软雅黑";
	color: #737b8a;
}

{
	font-family: "微软雅黑";
	color: white;	
	font-size: 22px;
	font-weight: 700;
}

{
	font-family: "微软雅黑";
	color: #737b8a;
}
.home-box-h2 h2
{
	color: white;
	font-weight: 600;
	font-family: "微软雅黑";
	font-size: 24px;
}
.home-box-h2 p
{
	font-family: "微软雅黑";
	color: #737b8a;
	font-size: 14px;
}
.service-box
{
	margin-bottom: 25px;
}
.service-box ul li
{
	list-style: none;
}
.service-box hgroup  p
{
	color: #737b8a;
	font-family: "微软雅黑";
}
.service-box hgroup h2
{
	font-size: 24px;
	font-weight: 200px;
	font-family: "微软雅黑";
	margin-top: 10px;
}
.partner  li img
{
	border: 1px solid #E9E9E9;
}
hr
{
	padd
	size: 1px;
}
.footer
{
	background: #2b3242;
}
.footer h2 p 
{
}
.footer a
{
	padding-right: 0.8;
}
.panel-footer
{
	background:#0d121b ;
}
.m-contact 
{
	background: url(../img/home-bg.jpg) fixed;
	height: 200px;
}
.m-contact hgroup p
{
	    color: white;
	    font-family: "微软雅黑";
}
.m-contact hgroup h2
{
	color: white;
	font-size: 1.25em;
	font-family: "微软雅黑";
}
.m-contact ul li
{
	list-style: none;
	color: white;
	font-size: 16px;
}
.m-contact i
{
	padding-right: 5px;
}
.h-about
{
	background: url(../img/case-bg.jpg) fixed;
	height: 550px;
}
.h-about hgroup h2
{	
	padding-top: 250px;
	font-size: 50px;
	font-family: "黑体";
	color: white;
}
.h-about hgroup p
{
	font-family: "黑体";
	padding-top: 35px;
	font-size: 20px;
}
.cat-nav
{
  border-bottom: 1px solid #E9E9E9;
  margin-bottom: 40px;
}
.cat-nav ul li
{
	list-style: none;
	float: left;
	margin-right: 20px;
	margin-top: 20px;
	font-family: "微软雅黑";
}
.cat-nav  .active a
{
	color: #dd514c;
}
.cat-nav p
{
	font-size: 12px;
	margin-bottom: 60px;
}
