.m-logo
{
	float: left;
	width: 165px;
	 text-indent: -9999px;
	display: block;
	font-size: 22px;
	line-height: 40px;
	color: #fff;
	background: url(../img/logo.png) no-repeat left center; 
	-webkit-background-size: 125px 40px;
	background-size: 125px 40px;
	margin-right: 28px;
}
body
{
	background: black;
}
.navbar-toggle
{
	back 
}
.navbar-brand 
{
	color: #28A4C9;
	font-family: "微软雅黑";
	font-size: 18px;
	text-align: center;
	margin-left: 50px;
}
